@import url('https://fonts.googleapis.com/css?family=Righteous');

body{
background-color: #000;
     color:red; 
}
.Wrapper{
  width:540px;
  height:200px;
  display:none;
  margin:4% auto 0;
  max-width:100%;
  max-height:100%;
  position:relative;
  overflow:hidden;
}

#five{
  z-index: 10;
  position: absolute;
}

.left{
  z-index: 1;
  width: 550px;
  height: 200px;
  position: absolute;
  overflow:hidden;
}

.right{
  z-index: 1;
  width: 550px;
  height: 200px;
  position: absolute;
  overflow:hidden;
  left:80%;
}


h1{
 color:#000; 
 background:red;
 padding: 10px;
 border-radius:50px;
 width:150px;
  margin:30px auto 10px;
text-align:center;
font-size:1em;
font-family: 'Righteous', sans-serif;
display:none;
}

p{
 width:350px;
  margin:0px auto;
text-align:center;
font-family: 'Righteous', sans-serif;
display:none;
}